:root{
  --fuente-uno: Arial, Helvetica, sans-serif ;
  --clr-fondo: linear-gradient(45deg, violet, darkblue);
  --clr-fondo-todo: white;
  --clr-btn-add: dodgerblue;
  --clr-btn-del: rgb(233, 15, 15);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(--fuente-uno);
  line-height: 1.5;
  background: var(--clr-fondo);
  color: white;
  height: 100vh;
  width: 100vw;
}
.container {
  width: 400px;
  margin: 30px auto;
  background-color: var(--clr-fondo-todo);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  h1 {
    text-align: center;
    color: dimgray;
  }
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    input{
      border-radius: 10px 0px 0 10px;
      border: 2px solid var(--clr-btn-add);
    }
  }
  .btn-add {
    padding: 5px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    font-family: fantasy;
    background-color: var(--clr-btn-add);
    font-size: 1.6rem;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: blue;
    }
  }
}




form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 400px;
}

.li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: var(--clr-btn-del);
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 1.2em;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: red;
}



.empty {
  color: darkslategrey;
}
